# Elixir
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

# Machine-local mise config
mise.local.toml

# Node
node_modules/
.output/
.nuxt/
dist/

# OS
.DS_Store
